.checkBox {    
    button {
        all: unset;
    }
    
    display: inline-flex;
    justify-content: left;
    align-items: center;
    gap: 5px;

    .box {
        width: 24px;
        height: 24px;
        background-color: aliceblue;    
    }

}
