.form {
    max-width: 420px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark-700, #171717);
    padding: 30px 35px;

    .title {
        text-align: center;
        color: var(--color-light-100, #fff);
        margin-bottom: 50px;
    }    

    .description {
        color: var(--light-900, #C3C1C7);
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .textField {
        span:nth-child(1) {
            color: var(--light-900, #C3C1C7)
        }
    }
}
